<template>
    <div :class="alertClasses" v-show="show" transition="Alert-">
        <slot></slot>
        <span class="Alert__close" @click="show = false">x</span>
    </div>
</template>

<script>
    export default {
        props: ['type'],

        data: function() {
            return {
                show: true
            };
        },
        computed: {
            alertClasses: function() {
                var type = this.type;
                
                return {
                    'Alert':true,
                    'Alert--Info': type == 'info',
                    'Alert--Success': type == 'success'
                }
            }
        },
        ready: function () {
            this.timerId = setTimeout(function () {
                this.triggerClose(this.notification);
            }.bind(this), 5000);
        },
        methods: {
            triggerClose: function (notification) {
                this.show = false;
                clearTimeout(this.timerId);
            }
        }
    }
</script>

<style lang="sass">
.Alert {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    background: #ddd;
    padding: 1em;
    padding: 1px solid black;
}

.Alert--Info {
    background: lighten(gray, 40%);
}

.Alert--Success {
    background: lighten(green, 60%);
}

.Alert__close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight:bold;
    cursor: pointer;
}

/* always present */
.Alert--transition {
    transition: all .3s ease;
    visibility: visible;
    overflow: hidden;
    opacity: 1;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.Alert--enter, .Alert--leave {
    visiblity: hidden;
    padding: 0 10px;
    opacity: 0;
}
</style>
