<template>
<table class="table-condensed">
    <thead>
        <tr>
            <th v-for="key in columns" @click="sortBy(key)" :class="{active: sortKey == key}">
                {{key | capitalize}}
                <span class="arrow" 
                      :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="entry in data| filterBy filterKey| orderBy sortKey sortOrders[sortKey]">
            <td v-for="key in columns" @click="visitAd(entry.id)">
                {{ formatCell(entry[key]) }}
            </td>
        </tr>
    </tbody>
</table>
</template>

<script>
export default {
    props: {
        data: Array,
        columns: Array,
        filterKey: String,
        currentUri: String
    },
    data: function() {
        var sortOrders = {}
        this.columns.forEach(function(key) {
            sortOrders[key] = 1
        })
        return {
            sortKey: '',
            sortOrders: sortOrders,
        }
    },
    methods: {
        sortBy: function(key) {
            this.sortKey = key
            this.sortOrders[key] = this.sortOrders[key] * -1
        },
        visitAd: function(id) {
            window.location = this.currentUri + '/' + id;
        },
        formatCell: function(cellData) {
            if(cellData == '0') return 'No';
            if(cellData == '1') return 'Yes';
            return cellData;
        }
    }
}
</script>

<style lang="sass"> 

$table-bg-color: #fff;
$header-bg-color: #428bca;
$header-active-bg-color: #22527B;
$header-color: #fff;
$border-color: $header-color;
$content-color: #444;
$row-bg-color: #f9f9f9;
$row-hover-bg-color: #EFEFEF;

body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: $content-color; 
}

table {
    border: 2px solid $header-bg-color;
    border-radius: 3px;
    background-color: $table-bg-color;
    width: 100%;
}

th {
    background-color: $header-bg-color;
    color: $header-color;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
}

tr {
    background-color: $row-bg-color;
}

tr:hover {
    background-color: $row-hover-bg-color;
    cursor: pointer;
}

th,
td {
    min-width: 100px;
    padding: 10px 20px;
}

th.active {
    background-color: $header-active-bg-color;
}

th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

#search {
    margin-bottom: 10px;
}
</style>
