<template>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.1/leaflet-geocoder-mapzen.css">

    <div id="map" v-bind:style="styleObject">
        <input id="map-data" type="hidden" name="mapData" value=""> 
    </div>
</template>

<script>
let baseUrl              = document.getElementsByName('base_url')[0].getAttribute('content');
var L                    = require('leaflet')
                           require('leaflet-geocoder-mapzen');

// Set the Leaflet Markers Path
L.Icon.Default.imagePath = baseUrl + '/images';

export default {
    props: ['address', 'height'],
    ready: function () {
        this.setupMapWithSearch();
    },
    data: function() {
        return {
            styleObject: {
                height: this.height
            }
        }
    },
    methods: {
        setupMapWithSearch: function () {
            let mapZenApiKey = 'search-rRwV5B6';
            let zoomLevel = 10;
            var map = L.map('map');
            let options = {
                position: 'bottomright',
                expanded: true,
                placeholder: 'Type Home Address',
                markers: true
            };

            $('input.leaflet-pelias-input').keyup(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
                    
            function setGeoCoder() {
                var geocoder = L.control.geocoder(mapZenApiKey, options).addTo(map);
                var mapDataInput = $("#map-data");

                geocoder.on('select', function (e) {
                    mapDataInput.val(encodeURIComponent(JSON.stringify(e.feature)));
                });

                geocoder.on('reset', function (e) {
                    mapDataInput.val('');
                });
            }

            function success(position) {
                map.setView([position.coords.latitude, position.coords.longitude], zoomLevel);
                setGeoCoder();
            }
            function error() {
                map.setView([37.804146, -122.275045], zoomLevel); //TODO, put something sensible?
                setGeoCoder();
            }

            if(this.address != null) {
                options['placeholder'] = this.address.display_name;
                map.setView([this.address.latitude, this.address.longitude], zoomLevel);
                setGeoCoder();
            } else {
                navigator.geolocation.getCurrentPosition(success, error, { enableHighAccurary: true, timeout: 10000 });
            }
        }
    }
}
</script>

<style lang="sass">
</style>
