@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nopadding-0 {
   padding: 0 !important;
   margin: 0 !important;
}

.top-buffer { 
    margin-top:20px; 
}

.top-buffer-sm { 
    margin-top:10px; 
}

/* User Dropdown CSS */
#user-dropdown {
    border-width: 0px;
    background-color:#CCDDFF;
}


/* CandidateProfileEdit Form CSS*/
#languageList ul {
    height: 300px; 
    width: 100%;
}

#languageList ul {
    overflow: hidden; 
    overflow-y: auto;
}

.formCheckBoxLabel {
    font-weight: bold;
}

/* MapZen CSS */

